:host {
    .delete-dialog-wrap {
        width: 360px;
    }
}
.error {
    max-width: 350px;
}
.warning-text {
    color: #f44336;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 500;
}
