<div class="dialog-wrap" id="addUserDialogWrapper">
    <h3 class="dialog-h t-primary">
        {{ "user-password-dialog.header" | translate }}
    </h3>
    <form
        class="dialog_form"
        [formGroup]="form"
        novalidate
        autocomplete="off"
        class="flex-col"
        id="serverAdjacencyForm"
    >
        <div class="flex">
            <mat-form-field class="flex-1">
                <input
                    matInput
                    [type]="showChars ? 'text' : 'password'"
                    autocomplete="new-password"
                    placeholder="{{
                        'user-dialog.placeholderPassword' | translate
                    }}"
                    formControlName="password"
                    id="passwordInput"
                    required
                />
                <mat-error *ngIf="form.get('password').hasError('required')">{{
                    "user-dialog.errorPassword" | translate
                }}</mat-error>
            </mat-form-field>
            <div class="show-hide-chars">
                <button
                    class="mini-fab-flat"
                    type="button"
                    (click)="toggleCharsShow()"
                    id="toggleCharsBtn"
                    matTooltip="{{
                        (showChars
                            ? 'shared.tooltipHideCharacters'
                            : 'shared.tooltipShowCharacters'
                        ) | translate
                    }}
                            {{ 'shared.tooltipCharacters' | translate }}"
                >
                    <mat-icon
                        [svgIcon]="showChars ? 'hide' : 'show'"
                    ></mat-icon>
                </button>
            </div>
        </div>

        <p class="error" *ngIf="error">{{ error }}</p>
        <div dir="rtl" class="flex justify-end items-center mt-2 gap-2">
            <button
                mat-raised-button
                id="adjacencySubmitBtn"
                [disabled]="form.invalid"
                type="button"
                color="primary"
                (click)="submit()"
            >
                <mat-progress-spinner
                    color="white"
                    mode="indeterminate"
                    [diameter]="15"
                    *ngIf="savingProgress"
                    id="adjacencyProgress"
                ></mat-progress-spinner>
                {{ "shared.buttonSubmit" | translate }}
            </button>
            <button
                (click)="close()"
                class="mr-2"
                mat-raised-button
                type="button"
                id="cancelBtn"
            >
                {{ "shared.buttonCancel" | translate }}
            </button>
            <div class="flex-1"></div>
        </div>
    </form>
</div>
