.show-hide-chars {
    width: 40px;
    padding: 10px 2px;
    outline: 0 !important;
}

button.mini-fab-flat:focus {
    outline: 0!important;
}

div.action-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}

.user-form {
    padding-bottom: 50px;
}

.field-block {
    margin-left: 11px;
}

.dialog-wrap {
    padding-left: 19px;
}

