.board {
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.grid-height-adjusted {
    height: calc(100% - 48px);
}
